<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

  <p>
    Splurty was proudly built with much hair pulling by <a target="_blank" href="http://laracorkrey.getforge.io/">Lara</a>. She is a former high school science teacher currently working in HR at a tech start-up in San Francisco. Lara is pursuing a career in software development to create and innovate technology that enables people to live a higher quality of life.
  </p>
  
    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'lc.jpg', class: 'img-fluid' %>
    </div>
  </div>

<br class="clear" />
<br />
<br />
<br />
<br />

